name: Checks

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.run_id }}
  cancel-in-progress: true

on:
  pull_request:
    types: [opened, synchronize]
  merge_group:
  push:
    branches:
      - master # Keeps the action's cache up-to-date to be shared with PRs

permissions:
  contents: read

env:
  DISABLE_NX_CACHE: ${{ contains(github.event.pull_request.labels.*.name, 'disable-nx-cache') && 'yes' || 'no' }}

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: ExodusMovement/actions/setup/lerna@06f077a9081a1e973586dde8870e7116873b9b84
        with:
          npm-token: ${{ secrets.NPM_TOKEN }}
          disable-nx-cache: ${{ env.DISABLE_NX_CACHE }}
      - name: Install dependencies
        run: yarn install --immutable
      - name: Lint
        run: yarn lint
      - name: Format
        run: yarn format:check
  test:
    name: Test
    runs-on: ubuntu-latest
    timeout-minutes: 35
    steps:
      - uses: actions/checkout@v4
      - uses: ExodusMovement/actions/setup/lerna@06f077a9081a1e973586dde8870e7116873b9b84
        with:
          npm-token: ${{ secrets.NPM_TOKEN }}
          disable-nx-cache: ${{ env.DISABLE_NX_CACHE }}
      - name: Install dependencies
        run: yarn install --immutable
      - name: Build
        run: yarn build
      - name: Test
        run: yarn test
  integration-test:
    name: Test (Integration)
    runs-on: ubuntu-latest
    timeout-minutes: 35
    steps:
      - uses: actions/checkout@v4
      - uses: ExodusMovement/actions/setup/lerna@06f077a9081a1e973586dde8870e7116873b9b84
        with:
          npm-token: ${{ secrets.NPM_TOKEN }}
          disable-nx-cache: ${{ env.DISABLE_NX_CACHE }}
      - name: Install dependencies
        run: yarn install --immutable
      - name: Integration Test
        run: yarn test:integration -- --runInBand
